<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPmpiwBtMdJu8DpUGXvnlBfd9IHWHzp1I</string>
	<key>GCM_SENDER_ID</key>
	<string>1081606372649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anceldev.ETracker</string>
	<key>PROJECT_ID</key>
	<string>etracker-dfd69</string>
	<key>STORAGE_BUCKET</key>
	<string>etracker-dfd69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081606372649:ios:4307091c0fbe294b234b38</string>
</dict>
</plist>